<% past_day = day < @today %>
<% today = day.day == @today.day  %>
<div class="week-day <%= today ? "today" : past_day ? "past" : "" %>">
    <H3><%= t("date.day_names")[day.wday] %>(<%=  today ? "Hoje" : day.day%>)</H3>
    <div class="week-hour-container">
    
    <% (6..23).each do |hour|%>
        <% past_hour = @today > day.midnight + hour.hours%>
        <div class="week-hour <%= past_hour ? "past":"" %>">
            <div class="hour">
                <%= "%02d:00" % [hour] %>
            </div>
            <div classe="actions" data-turbolinks="false">
                <%= link_to "reservar", new_booking_path(day: day) , data:{turbo_frame: "remote_modal"} unless past_hour%>
            </div>
        </div>

    <% end %>

    </div>
</div>