<% past_day = day < @today %>
<% is_today = day.day == @today.day  %>
<div class="week-day <%= is_today ? "today" : past_day ? "past" : "" %>">
    <H3><%= t("date.day_names")[day.wday] %>(<%=  is_today ? "Hoje" : day.day%>)</H3>
    <div class="week-hour-container">
    
    <% (6..23).each do |hour|%>
        <% 
        reservation_date = day.midnight + hour.hours
        past_hour = @today > reservation_date 
        booking = @bookings.to_a.filter { |bk| bk.reservation_date == reservation_date}.first
        %>
        
        <div class="week-hour <%= past_hour ? "past":"" %>">
            <div class="hour">
                <%= "%02d:00" % [hour] %>
            </div>
            <div classe="actions">
                <turbo-frame id="booking_<%= reservation_date.strftime("%d_%m_%Y_%H_%M") %>">
                    <%= render "bookings/bookings_day_actions", booking: booking, past_hour: past_hour, reservation_date: reservation_date%>
                </turbo-frame>
            </div>
        </div>

    <% end %>

    </div>
</div>