<%= form_with(model: @booking, local: false) do |_form| %>

    <%= _form.hidden_field :reservation_date %>
    <div class="field">
        <%= _form.label :description, "Descrição da Reunião:" %><br />
        <%= _form.text_area :description, autofocus: true, class:"form-control" %>
    </div>
    <div class="field">
        <%= _form.label :material, "Equipamentos que serão usados:" %><br />
        <%= _form.text_field :material, class:"form-control" %>
    </div>

    <%= _form.submit "Reservar", data:{"bs-dismiss":"modal"}, class:"btn btn-sm btn-success"%>
<% end %>
