<!DOCTYPE html>
<html>
  <head>
    <title>BookingsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <% unless user_signed_in? %>
    <div id="login_container" class="login-container container-sm"> 
      <%= yield %>
    </div>
    <% else %>
      <%= render partial: "layouts/navbar" %>

    <%end%>
  </body>
</html>
